:root{
    --accent-color: #FF031A
}

body, html{
    overflow-x: hidden;
}

body{
    height: 100vh;
    background-image:  url(../img/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    padding: 0 128px;
}

@media (max-width:768px){
    body{
        background-attachment: fixed;
    }
}