:root{
    --accent-color: #FF031A
}

body{
    height: 100vh;
    background: linear-gradient(180deg, #FAFAEE, #000E 30%, #000A 50%, #D71B2B),
                 url(../img/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    padding: 0 128px;
}